<!-- params.require(:post).permit(:title, :admin_message, :content, :sender_id) -->

<%= form_for @post do |f| %>
  <h2>Who would you like to review?</h2>
  <%= f.collection_select :recipient_id, User.order(:first_name),:id,:first_name, include_blank: true %>

  <br>
  <h2>What should the cadre know to help them improve?</h2>
  <br>
  <%= f.text_area :admin_message, :value => "Message for Jon" %>
  <br>
  <h2>Would you ever work with them again?</h2>
  <br>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "Never Again") %>
  <br>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "If I had to") %>
  <br>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "Sure why not") %>
  <br>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "Yes I'd like to") %>
  <br>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "Always put us together!") %>
  <br>
  <h2>Overall how would rate working with them?</h2>
  <!-- TODO:create slider -->
  <%= f.label :rating %>
  <%= f.number_field :rating %><br />
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <h2><h2>What are they doing great, what could they do better?</h2>
  <%= f.text_area :content, :value => "Hi, nice work" %>

  <br>
  <%= f.submit %>
<% end %>