<!DOCTYPE html>
<html>
  <head>
    <title>Pairing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <div class="topnav" id="myTopnav">
      <!-- TODO: make it the ruby way -->
    <a href= '/'>Home</a>
    <!-- TODO: make it the ruby way -->
   
    <%= link_to("Post", new_post_path, method: :get) %>
    <%= link_to("Logout", destroy_user_session_path, method: :delete) %>

  </div>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>


